body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 50px;
}

.footer-cor {
    background-color: greenyellow !important;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    cursor: pointer;
}

.navbar {
    background-color: greenyellow !important;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 50px;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.produtos .card img {
    height: 200px;
    object-fit: cover;
}

.card1 {
    grid-area: card1;
    text-align: center;
}

.card2 {
    grid-area: card2;
    text-align: center;
}

.card3 {
    grid-area: card3;
    text-align: center;
}

.categoria {
    display:grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "card1 card2 card3"
    "card1 card2 card3";
    gap:50px;
    justify-content:center;
    margin-top:40px;
}

#banner{
    max-width: 100%;
}

.carousel-item img{
    height: 400px;
    object-fit: contain;
    width: 100%;
    max-height: 400px;
}

.carousel-item{
    background: #0076c0;
}

main .text-center {
    margin-top: 25px
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    line-height: 1.6;
}

.main-container h1 {
    margin-bottom: 10px;
}

.main-container h2 {
    margin-top: 30px;
}

.btn-detalhes {
    margin-bottom: 5px;
}

.modal {
  justify-content: center;
  align-items: center;
}

.modal-dialog{
    max-width: 500px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.modal-body img{
    width: 100%;
    border-radius: 8px;
}

.modal-body{
    max-height: 60vh;
    overflow-y: auto;
}

#filtroCategoria li.ativo {
  font-weight: bold;
  color: #198754;
  cursor: pointer;
}

@media (max-width: 1200px){
    .produtos{
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 576px){
    .produtos{
        grid-template-columns: 1fr;
    }
}